<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tasks</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Tasks</h1>
    <ul>
      <% tasks.forEach(task => { %>
      <li class="<%= task.completed ? 'completed' : '' %>">
        <form action="/tasks/<%= task._id %>/completion" method="POST">
          <%= task.title %> <input type="checkbox" name="completed"
          onchange="this.form.submit()" <%= task.completed ? 'checked' : '' %>>
          <input type="hidden" name="taskId" value="<%= task._id %>" />
        </form>
        <form
        class="delete_form"
          action="/tasks/<%= task._id %>/delete"
          onsubmit="return confirm('Are you sure?');" 
        >
          <input type="hidden" name="taskId" value="<%= task._id %>"/>
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
